.form__item {
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: 1px solid #fff;
  color: #000;
  line-height: 100%;
  font-size: 14px;
  font-weight: 400;
  margin: 54px auto 0 auto;
  padding: 0;
}

.form__item:nth-of-type(2) {
  margin: 30px auto 0 auto;
}

@media screen and (max-width: 540px) {
  .form__item {
    width: 238px;
    height: 27px;
    margin: 75px auto 0 auto;
  }
}
