.header__logo {
  background-image: url(../../../images/mesto-logo.svg);
  background-size: cover;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 600px) {
  .header__logo {
    margin: 0 auto 0 27px;
    width: 103.74;
    height: 24.4;
  }
}
