.profile__add-button {
  background-image: url(../../../images/add-button.svg);
  background-size: cover;
  background-color: inherit;
  background-repeat: no-repeat;
  height: 50px;
  width: 150px;
  margin: 0 0 0 auto;
  padding: 0;
  border: none;
}

.profile__add-button:hover {
  opacity: 0.5;
  transition: 1s;
}

@media screen and (max-width: 666px) {
  .profile__add-button {
    margin: 36px auto 0 auto;
    width: 282px;
    background-image: url(../../../images/add-button_big.svg);
  }
}
