.card__like-button {
  grid-area: like;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.card__like-button:checked + .card__pseudo-button {
  background-image: url(../../../images/like-button_active.svg);
}

.card__like-button:hover + .card__pseudo-button {
  opacity: 0.5;
  transition: 1s;
}

.card__like-button:checked:hover + .card__pseudo-button {
  opacity: 1;
}
