.profile__occupation {
  grid-area: occupation;
  line-height: 100%;
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 666px) {
  .profile__occupation {
    font-size: 14px;
    text-align: center;
    min-width: 189px;
  }
}

@media screen and (max-width: 540px) {
  .profile__occupation {
    margin: 14px 0 0 0;
  }
}
