.pop-up__container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  min-width: 430px;
}

@media screen and (max-width: 540px) {
  .pop-up__container {
    min-width: 282px;
  }
}
